body
	
	background-image url(../images/main_bg0.jpg)

div.container 
	height 650px
	left 0
	right 0
	top 0
	bottom 0
	width 960px
	height 700px
	padding 10px 0 0 48px

header
	background-image url(../images/nav.png)
	background-repeat no-repeat
	background-repeat no-repeat
div.nav
	margin-left -40px

div.nav li
	margin:-28px 0 5px 2px;
	float:left;

div.nav a{
	margin:0 0 0 29px;
	padding:26px 29px 23px 0;
	float:left;
}
div.nav li.selected{
	background:url(../images/nav_left.png) no-repeat left top;
}
div.nav li.selected a{
	background:url(../images/nav_righ.png) no-repeat right top;
}
div.nav li:hover{
	background:url(../images/nav_left.png) no-repeat left top;
}
div.nav li:hover a{
	background:url(../images/nav_righ.png) no-repeat right top;
}
//strat social

div.social
	float:right;
	margin:10px 15px 0  0;


div.social a
	margin:0 0 0 5px;

div.social a.tw
	background:url(../images/tw_icon0.png) no-repeat;
	width:29px;
	height:42px;
	float:right;


div.social a.tw:hover
	background-position:0 -42px;
	transition: background-position 0.5s ease-out;
	

div.social a.fb
	background:url(../images/fb_icon0.png) no-repeat;
	width:30px;
	height:42px;
	float:right;

div.social a.fb:hover
	background-position:0 -42px;
	transition: background-position 0.5s ease-out;
	

div.social a.gplus
	background:url(../images/google_i.png) no-repeat;
	width:30px;
	height:42px;
	float:right;

div.social a.gplus:hover
	background-position:0 -42px;
	transition: background-position 0.5s ease-out;
	

div.social a.youtube
	background:url(../images/youtube_.png) no-repeat;
	width:29px;
	height:42px;
	float:right;

div.social a.youtube:hover
	background-position:0 -42px;
	transition: background-position 0.5s ease-out;
	

div.topcontent
	background-image url(../images/topcontent.png)
	width 960px
div.content
	background-image url(../images/content_.jpg)
	background-repeat repeat-y
	
	
div.content h1 
	color #94ca2b
	text-align center
	font-size 30px
div.content p
	color:#dddcdc
	font-size 16px
	text-align center
	
div.content span
	color:#dddcdc
	font-size 12px !important
div.bottomcontent
	background-image url(../images/bottomcontent.png)
	width 960px


div.education
	outline 1px solid red
	color  #dddcdc;
div.education p
	font-size 12px
	text-align justify	
	line-height 18px
	color #b5b4b4
	margin 6px 0 0 0

div.rightcontent
	color #dddcdc 
	padding 22px 0 0 0
	
div.rightcontent p
	 text-align left


div.leftcontent
	color  #dddcdc
	padding 10px 0 0 0

div.leftcontent p 
	text-align right

div.leftcontent2
	text-align justify
	margin  0 0 0 0
	padding-left  20px
	
div.form
	outline 1px solid red
	height 800px

div.field
	outline 1px solid orange
	float left
	margin 20px 0 15px 20px


div.field label
	width 100px
	color #fff
	font-size 12px
	float left	
	margin-top 12px
div.field input
	height 35px
	width 170px
	border none 
	padding 0 8px
	border-radius 8px
	font-size 12px

div.field textarea
	margin-left 60px
	width 450px
	border-radius 15px
	height 150px
div.bottun
	display inline-block
	padding 9px 20px 2px 20px  
	margin-top 110px
	margin-left 200px
	border-radius 8px
	width 100px
	height 100px
	line-height 40px
	text-align center
	cursor pointer
	background-image url(../images/button-tail.gif)
	background-repeat repeat-x

	
div.leftcontent2 p
	text-align left
	margin-left 30px

div.rightcontent2
	outline 1px  solid orange 
div.rightcontact
		
	outline 0 solid magenta

div.rightcontact span
	margin-left 10px
div.googleplus
	background-image url(../images/map00000.png)
	background-repeat no-repeat
	border-radius  8px
	margin-top 80px


div.tabs 
	background-image url(../images/tab_bg00.png)
	background-repeat repeat-x
	margin 0 0 0 50px
div.tab2
	margin 50px 0 0 100px
div.tabs ul
	list-style-type: none
div.tabs li 
	float left
	margin-left 5px
	color red
	vertical-align center
	margin-top 5px
	background-color: #efeeee
div.tabs li:first-child
	background-color: #ffd000
div.tabs a 
	text-decoration none
	color #606060
	display block
	padding 10px 12px
	font-size 13px
div.tabs a:hover 
	background-color: #ffd000
div.portfolio
	margin 22px
	width 205px
div.view img

	transform: scale(1);
	transition-timing-function: ease-out;
	transition-duration: 500ms;
div.view img:hover

	transform: scale(1.2);
	transition-timing-function: ease-out;
	transition-duration: 500ms;
div.des 
	background-color:  #efeeee
	padding 10px 0 0 0
div.des p 
	color black
div.des span 
	color black
div.cbottom
	background-image url(../images/shade.png)
	background-repeat no-repeat
	width 960px
div.personalimg
	background-image url(../images/picture0.jpg)
	background-repeat no-repeat 
	background-position:center 
	padding 5px
	margin:60px 0 0 400px
	
div.footer
	text-align center
	background-image url(../images/footer_b.png)
	height: 45px
	width 960px
div.footer p{
	font-size 12px !important
}